@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&display=swap');

body
{
    text-align: center;
    font-family: 'Gentium Book Basic', serif;
    font-size: 125%;
    background-image: url("https://wallpaperaccess.com/full/1924554.jpg");
    margin: 0;
}

h1
{
    font-size: 300%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 2px #696969;
}

table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.login-signin
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 5px;
    padding: 25px 25px 50px 45px;
    width: 685px;
    flex: 60%;
    background-image: url("https://images.unsplash.com/photo-1615716175455-9a098e2388be?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bGlnaHQlMjBncmVlbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    box-shadow: 5px 10px #888888;
    box-align: center;
    transition: 0.1s;
}

.login-signin:hover
{
    transform: scale(1.05);
}

input[type=submit]
{
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
input[type=submit]:hover
{
    background-color: #3e8e41
}

input[type=submit]:active
{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.bottom
{
    
    height: 5rem;
    background: linear-gradient(to right, #100716, #00ffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    color: white;
}